  <div class="row">
    <div class="column" style="widthbackground-color:#aaa;">
      <h4>FANTASY TEAM 1</h4>
      <button id="like" class="btn">Vote for this Team</button>
      {{#each top1Res as |player|}}

      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> {{@index}}.{{player.track}}</li>
          <li class="list-group-item">By: {{player.artist}}</li>
        </ul>
      </div>
      {{/each}}
    </div>
    <div class="column col-3" style="width: 18rem background-color:#aaa;">
      <h2>VS</h2>
    
    </div>
    <div class="column" style="">
    <h2>FANTASY TEAM 2</h2>
<button id="generate" class="btn">Vote for this Team</button>
    {{#each top2Res as |player|}}

    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> {{@index}}.{{player.track}}</li>
        <li class="list-group-item">by: {{player.artist}}</li>
      </ul>
    </div>
    {{/each}}
    </div>